<h2>Välkommen{{user.username}}</h2>
{{#if paths.length}}
<P>Här är dina startade lärostigar. Lycka till nu</p>
{{else}}
<p>Du har inte startat lärostigar</p>
{{/if}}
{{#each paths}}
<div>
  <div class="path">
    <h3>{{learningPath.title}}</h3>
    <p><b> steg: <span class="steps-count"></span> | <span class="progress-percent"></span> </b></p>
    <div class="progress-bar-container">
      <div class="progress-bar">

      </div>
    </div> 
    <p>{{learningPath.description}}</p>
    <li>
    {{#each learningPath.steps}}
      <p>
        {{#if done}}
        <input type="checkbox" checked class="complete-step" data-step-id="{{_id}}" data-path-id="{{../_id}}" data-done="true" >
        {{else}}
      <input type="checkbox" class="complete-step" data-step-id="{{_id}}" data-path-id="{{../_id}}" data-done="false" >
      {{/if}}
      <b>{{title}}</b>
    </p>
      <p>{{description}}</p>
      <p>Link: <a href="{{link}}" target="_blank">{{link}}</a></p>
     {{/each}}
     </li>
    </div>
  </div>
{{/each}}

 