<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>{{title}} - kodkampus</title>
  </head>
  <body>
    <header>{{title}}</header>
    <nav>
      <a href="/">Start</a>
       {{#if user}}
      <a href="/profile">Profil</a>
      <a href="/community">Gemenskap</a>
    {{!--   <a href="/logout">Logga ut</a> --}}
      {{else}}
        <a href="/login">Logga in </a>
      {{/if}}
    
    </nav>
  <main>
    -
    {{#if flash}}
    <p class="flash {{flash.type}}">{{flash.massage}}
         <span class="close-flash">X</span>
    </p>
 
    {{/if}}
    -
    {{{body}}}
 <main>
    <footer>kodkampus</footer>

<script src="/js/script.js"></script>
  </body>
</html>