<h2>En Anv채ndare</h2>
{{#if paths}}
  <p>Lista p책 alla l채rostigar</p>
  <ul>
    {{#each paths}}
      <li>
        <b>{{learningPath.title}}</b>
        <i>{{completedSteps}}/{{totalSteps}}({{progress}})</i>
      </li>
    {{/each}}

  </ul>
{{else}}
  <p>Anv채ndaren har inte startat sin resa</p>
{{/if}}